// Content

#container {
  width: 90%;
  max-width: 640px;
  margin: 6rem auto;

  @media (max-width: 600px) {
    margin: 4rem auto;
  }
}

#content {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @media (max-width: 600px) {
    gap: 4rem;
  }
}

.home .post {
  width: 70%;

  &:nth-child(odd) {
    align-self: flex-start;
    transform: rotate(-2deg);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  &:nth-child(even) {
    align-self: flex-end;
    transform: rotate(1deg);

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .entry-summary {
    text-align: center;
    text-wrap: balance;
  }
}

.entry-title {
  margin-bottom: 0.25rem;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 1.222rem;
  line-height: 1.4em;

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: var(--primary);
    }
  }

  .page &,
  .single & {
    margin-bottom: 1em;
  }
}

h2 {
  margin-bottom: 0.25rem;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  font-size: 1.0625rem;
  line-height: 1.4em;
}

h3 {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  text-align: center;
  text-wrap: balance;
  font-size: 1.0625rem;
  line-height: 1.4em;

  h2 + & {
    margin-top: 0;
  }
}

h4 {
  margin-top: 2rem;
  text-align: center;
  text-wrap: balance;
  font-size: 1rem;
  line-height: 1.4em;
}

.entry-content {
  p {
    margin-bottom: 2rem;
    text-wrap: pretty;
  }

  > p:only-child {
    text-align: center;
    text-wrap: balance;
  }

  strong {
    color: var(--text-highlight);
  }

  // Lists
  p + ol,
  p + ul {
    margin-top: -1.5rem;
  }

  > ol,
  > ul {
    margin-bottom: 2rem;
  }

  li {
    margin: 0.5rem 0 0.5rem 1rem;
    text-wrap: pretty;
  }

  // Different list styles
  ul li {
    list-style-type: disc;
  }

  li ul li {
    list-style-type: circle;
  }

  ol li {
    list-style-type: decimal;
  }

  ol li ol li {
    list-style-type: lower-latin;
  }

  hr {
    margin: 2rem auto 2rem;
    height: 2px;
    border: none;
    background-color: var(--light-grey);
  }

  figcaption {
    text-align: center;
    text-wrap: balance;
    font-style: italic;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  .wp-block-image & {
    height: auto !important;
  }
}
